# RTL Design Verification
## 1. [Plan](RTL_design_verification/chapter_00001.md)
  - Introduction
  - ALU (comb)
  - Pipeline
  - ALU (pipelined)
  - ALU (independent pipelined)

